
/* Font sizes */
p, .text { font-size: 16px;}
h6, .hl-6 { font-size: 12px;}
h5, .hl-5 { font-size: 14px;}
h4, .hl-4 { font-size: 18px;}
h3, .hl-3 { font-size: 28px;}
h2, .hl-2 { font-size: 36px;}
h1, .hl-1 { font-size: 48px;}

