:root {
    --white: #ffffff;
    --light: #d6d6d6;
    --dark: #333333;
    --black: #0a0a0a;
    --primary: #ff9a47;
    --accent: #6d1fff;
    --success: #5bff4d;
    --info: #4db2ff;
    --warning: #ffcc4d;
    --error: #ff4f4d;
}